@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@import "tailwindcss";
@plugin "daisyui";

/* :root {
  --primary: #fb8133;
  --primary-dark: #f53434;
  --primary-gradient: linear-gradient(to right bottom, #fb8133, #f53434);
} */

body {
  /* background-color: #f5f5f5; */
  /* background-color: #f96b33; */
  background: linear-gradient(to bottom right, #fff7ed, #ffffff);
}
* {
  font-family: "Inter", sans-serif;
}
